body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:31px;
}
#u2198 {
  position:absolute;
  left:60px;
  top:15px;
  width:268px;
  height:31px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2200 {
  position:absolute;
  left:76px;
  top:73px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2202 {
  position:absolute;
  left:175px;
  top:73px;
  width:59px;
  height:16px;
  font-size:14px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:10px;
}
#u2204 {
  position:absolute;
  left:65px;
  top:90px;
  width:78px;
  height:10px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:-3px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  position:absolute;
  left:70px;
  top:134px;
  width:87px;
  height:16px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2208 {
  position:absolute;
  left:205px;
  top:134px;
  width:87px;
  height:16px;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u2210 {
  position:absolute;
  left:67px;
  top:294px;
  width:65px;
  height:41px;
}
#u2211 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:98px;
}
#u2212 {
  position:absolute;
  left:64px;
  top:166px;
  width:798px;
  height:98px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:41px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
