body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:56px;
}
#u4970 {
  position:absolute;
  left:45px;
  top:10px;
  width:465px;
  height:56px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:20px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4972 {
  position:absolute;
  left:55px;
  top:111px;
  width:885px;
  height:108px;
}
#u4973 {
  position:absolute;
  left:2px;
  top:46px;
  width:881px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:48px;
}
#u4974 {
  position:absolute;
  left:75px;
  top:137px;
  width:551px;
  height:48px;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4976 {
  position:absolute;
  left:55px;
  top:245px;
  width:885px;
  height:246px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:115px;
  width:881px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:190px;
}
#u4978 {
  position:absolute;
  left:75px;
  top:267px;
  width:824px;
  height:190px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  word-wrap:break-word;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4980 {
  position:absolute;
  left:56px;
  top:531px;
  width:884px;
  height:123px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:54px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:80px;
}
#u4982 {
  position:absolute;
  left:75px;
  top:549px;
  width:629px;
  height:80px;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  word-wrap:break-word;
}
#u4984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4984 {
  position:absolute;
  left:55px;
  top:690px;
  width:884px;
  height:150px;
}
#u4985 {
  position:absolute;
  left:2px;
  top:67px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:96px;
}
#u4986 {
  position:absolute;
  left:75px;
  top:710px;
  width:706px;
  height:96px;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  word-wrap:break-word;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4988 {
  position:absolute;
  left:55px;
  top:864px;
  width:884px;
  height:84px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:34px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:48px;
}
#u4990 {
  position:absolute;
  left:75px;
  top:884px;
  width:346px;
  height:48px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4992 {
  position:absolute;
  left:55px;
  top:1345px;
  width:884px;
  height:97px;
}
#u4993 {
  position:absolute;
  left:2px;
  top:40px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u4994 {
  position:absolute;
  left:75px;
  top:1367px;
  width:480px;
  height:50px;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:55px;
  top:1462px;
  width:884px;
  height:129px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:56px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:96px;
}
#u4998 {
  position:absolute;
  left:69px;
  top:1475px;
  width:721px;
  height:96px;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:55px;
  top:1618px;
  width:884px;
  height:185px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:84px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:144px;
}
#u5002 {
  position:absolute;
  left:86px;
  top:1635px;
  width:640px;
  height:144px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5004 {
  position:absolute;
  left:55px;
  top:969px;
  width:884px;
  height:142px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:63px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:112px;
}
#u5006 {
  position:absolute;
  left:75px;
  top:983px;
  width:715px;
  height:112px;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5008 {
  position:absolute;
  left:55px;
  top:1135px;
  width:884px;
  height:189px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:86px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:159px;
}
#u5010 {
  position:absolute;
  left:69px;
  top:1154px;
  width:680px;
  height:159px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u5012 {
  position:absolute;
  left:55px;
  top:76px;
  width:89px;
  height:19px;
  font-size:16px;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
