body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1818 {
  position:absolute;
  left:2px;
  top:24px;
  width:246px;
  word-wrap:break-word;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:820px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:-20px;
  top:80px;
  width:270px;
  height:820px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:402px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:-10px;
  top:87px;
  width:260px;
  height:60px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:22px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1823 {
  position:absolute;
  left:48px;
  top:107px;
  width:20px;
  height:20px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1825 {
  position:absolute;
  left:81px;
  top:103px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  position:absolute;
  left:250px;
  top:0px;
  width:1313px;
  height:80px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:32px;
  width:1309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:74px;
}
#u1829 {
  position:absolute;
  left:1021px;
  top:1px;
  width:369px;
  height:74px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:29px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1831 {
  position:absolute;
  left:71px;
  top:393px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1833 {
  position:absolute;
  left:71px;
  top:361px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1835 {
  position:absolute;
  left:71px;
  top:322px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  position:absolute;
  left:-10px;
  top:242px;
  width:260px;
  height:60px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:22px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1839 {
  position:absolute;
  left:48px;
  top:265px;
  width:20px;
  height:20px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1841 {
  position:absolute;
  left:81px;
  top:261px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1843 {
  position:absolute;
  left:71px;
  top:201px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1845 {
  position:absolute;
  left:71px;
  top:169px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u1847 {
  position:absolute;
  left:369px;
  top:114px;
  width:85px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1849 {
  position:absolute;
  left:297px;
  top:114px;
  width:65px;
  height:19px;
  font-size:14px;
  text-align:center;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:33px;
}
#u1851 {
  position:absolute;
  left:293px;
  top:220px;
  width:770px;
  height:33px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:8px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1853 {
  position:absolute;
  left:344px;
  top:227px;
  width:131px;
  height:16px;
  font-size:14px;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1855 {
  position:absolute;
  left:302px;
  top:219px;
  width:32px;
  height:32px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  position:absolute;
  left:293px;
  top:261px;
  width:770px;
  height:140px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:62px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u1859 {
  position:absolute;
  left:293px;
  top:417px;
  width:19px;
  height:22px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u1861 {
  position:absolute;
  left:322px;
  top:422px;
  width:83px;
  height:16px;
  color:#199ED8;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:33px;
}
#u1863 {
  position:absolute;
  left:293px;
  top:460px;
  width:770px;
  height:33px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:8px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1865 {
  position:absolute;
  left:344px;
  top:467px;
  width:131px;
  height:16px;
  font-size:14px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1867 {
  position:absolute;
  left:302px;
  top:459px;
  width:32px;
  height:32px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u1869 {
  position:absolute;
  left:387px;
  top:324px;
  width:40px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1871 {
  position:absolute;
  left:431px;
  top:320px;
  width:162px;
  height:22px;
  color:#666666;
}
#u1872 {
  position:absolute;
  left:2px;
  top:3px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u1873 {
  position:absolute;
  left:767px;
  top:324px;
  width:39px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1875 {
  position:absolute;
  left:815px;
  top:321px;
  width:203px;
  height:22px;
  color:#666666;
}
#u1876 {
  position:absolute;
  left:2px;
  top:3px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u1877 {
  position:absolute;
  left:361px;
  top:365px;
  width:65px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u1879 {
  position:absolute;
  left:741px;
  top:282px;
  width:66px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u1881 {
  position:absolute;
  left:348px;
  top:279px;
  width:80px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u1883 {
  position:absolute;
  left:431px;
  top:275px;
  width:160px;
  height:22px;
  font-size:11px;
  color:#C9C9C9;
}
#u1884 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u1885 {
  position:absolute;
  left:817px;
  top:279px;
  width:89px;
  height:22px;
  font-size:11px;
  color:#C9C9C9;
}
#u1886 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u1887 {
  position:absolute;
  left:929px;
  top:279px;
  width:89px;
  height:22px;
  font-size:11px;
  color:#C9C9C9;
}
#u1888 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u1889 {
  position:absolute;
  left:912px;
  top:287px;
  width:18px;
  height:9px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1891 {
  position:absolute;
  left:431px;
  top:362px;
  width:163px;
  height:22px;
}
#u1891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
}
#u1891_input:disabled {
  color:grayText;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:293px;
  top:513px;
  width:770px;
  height:140px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:62px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u1894 {
  position:absolute;
  left:293px;
  top:669px;
  width:19px;
  height:22px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u1896 {
  position:absolute;
  left:322px;
  top:674px;
  width:83px;
  height:16px;
  color:#199ED8;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u1898 {
  position:absolute;
  left:387px;
  top:576px;
  width:40px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1900 {
  position:absolute;
  left:431px;
  top:572px;
  width:162px;
  height:22px;
  color:#666666;
}
#u1901 {
  position:absolute;
  left:2px;
  top:3px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u1902 {
  position:absolute;
  left:767px;
  top:576px;
  width:39px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1904 {
  position:absolute;
  left:815px;
  top:573px;
  width:203px;
  height:22px;
  color:#666666;
}
#u1905 {
  position:absolute;
  left:2px;
  top:3px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u1906 {
  position:absolute;
  left:361px;
  top:617px;
  width:65px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u1908 {
  position:absolute;
  left:741px;
  top:534px;
  width:66px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u1910 {
  position:absolute;
  left:348px;
  top:531px;
  width:80px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u1912 {
  position:absolute;
  left:431px;
  top:527px;
  width:160px;
  height:22px;
  font-size:11px;
  color:#C9C9C9;
}
#u1913 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u1914 {
  position:absolute;
  left:817px;
  top:531px;
  width:89px;
  height:22px;
  font-size:11px;
  color:#C9C9C9;
}
#u1915 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#C9C9C9;
}
#u1916 {
  position:absolute;
  left:929px;
  top:531px;
  width:89px;
  height:22px;
  font-size:11px;
  color:#C9C9C9;
}
#u1917 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u1918 {
  position:absolute;
  left:912px;
  top:539px;
  width:18px;
  height:9px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1920 {
  position:absolute;
  left:431px;
  top:614px;
  width:163px;
  height:22px;
}
#u1920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
}
#u1920_input:disabled {
  color:grayText;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1921 {
  position:absolute;
  left:293px;
  top:154px;
  width:72px;
  height:38px;
  font-size:12px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1923 {
  position:absolute;
  left:368px;
  top:154px;
  width:75px;
  height:38px;
  font-size:12px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1925 {
  position:absolute;
  left:551px;
  top:154px;
  width:68px;
  height:38px;
  font-size:12px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1927 {
  position:absolute;
  left:623px;
  top:154px;
  width:149px;
  height:38px;
  font-size:12px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1929 {
  position:absolute;
  left:776px;
  top:154px;
  width:68px;
  height:38px;
  font-size:12px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1931 {
  position:absolute;
  left:847px;
  top:154px;
  width:68px;
  height:38px;
  font-size:12px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1933 {
  position:absolute;
  left:918px;
  top:154px;
  width:68px;
  height:38px;
  font-size:12px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1935 {
  position:absolute;
  left:447px;
  top:154px;
  width:100px;
  height:38px;
  font-size:12px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
