body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u3972 {
  position:absolute;
  left:371px;
  top:106px;
  width:85px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3974 {
  position:absolute;
  left:296px;
  top:106px;
  width:65px;
  height:19px;
  font-size:14px;
  text-align:center;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:81px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:80px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3978 {
  position:absolute;
  left:2px;
  top:24px;
  width:246px;
  word-wrap:break-word;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:820px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3979 {
  position:absolute;
  left:-20px;
  top:80px;
  width:270px;
  height:820px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:402px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3981 {
  position:absolute;
  left:-10px;
  top:87px;
  width:260px;
  height:60px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:22px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3983 {
  position:absolute;
  left:48px;
  top:107px;
  width:20px;
  height:20px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3985 {
  position:absolute;
  left:81px;
  top:103px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  position:absolute;
  left:250px;
  top:0px;
  width:1313px;
  height:80px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:32px;
  width:1309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:74px;
}
#u3989 {
  position:absolute;
  left:1021px;
  top:1px;
  width:369px;
  height:74px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:29px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3991 {
  position:absolute;
  left:71px;
  top:393px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3993 {
  position:absolute;
  left:71px;
  top:361px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3995 {
  position:absolute;
  left:71px;
  top:322px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:-10px;
  top:242px;
  width:260px;
  height:60px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:22px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3999 {
  position:absolute;
  left:48px;
  top:265px;
  width:20px;
  height:20px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4001 {
  position:absolute;
  left:81px;
  top:261px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4003 {
  position:absolute;
  left:71px;
  top:201px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4005 {
  position:absolute;
  left:71px;
  top:169px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:33px;
}
#u4007 {
  position:absolute;
  left:296px;
  top:145px;
  width:770px;
  height:33px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:8px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4009 {
  position:absolute;
  left:347px;
  top:152px;
  width:66px;
  height:16px;
  font-size:14px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4011 {
  position:absolute;
  left:305px;
  top:144px;
  width:32px;
  height:32px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4013 {
  position:absolute;
  left:296px;
  top:188px;
  width:770px;
  height:87px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:36px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u4015 {
  position:absolute;
  left:309px;
  top:201px;
  width:78px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:15px;
}
#u4017 {
  position:absolute;
  left:577px;
  top:201px;
  width:209px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
}
#u4019 {
  position:absolute;
  left:309px;
  top:233px;
  width:160px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:15px;
}
#u4021 {
  position:absolute;
  left:577px;
  top:232px;
  width:209px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:33px;
}
#u4023 {
  position:absolute;
  left:296px;
  top:299px;
  width:770px;
  height:33px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:8px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4025 {
  position:absolute;
  left:347px;
  top:306px;
  width:66px;
  height:16px;
  font-size:14px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4027 {
  position:absolute;
  left:305px;
  top:298px;
  width:32px;
  height:32px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u4029 {
  position:absolute;
  left:1001px;
  top:307px;
  width:53px;
  height:16px;
  color:#199ED8;
}
#u4030 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u4031 {
  position:absolute;
  left:978px;
  top:154px;
  width:81px;
  height:20px;
  color:#199ED8;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4033 {
  position:absolute;
  left:346px;
  top:367px;
  width:12px;
  height:12px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u4035 {
  position:absolute;
  left:352px;
  top:379px;
  width:1px;
  height:66px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:78px;
}
#u4037 {
  position:absolute;
  left:352px;
  top:445px;
  width:1px;
  height:77px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4039 {
  position:absolute;
  left:347px;
  top:516px;
  width:12px;
  height:12px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:112px;
}
#u4041 {
  position:absolute;
  left:352px;
  top:532px;
  width:1px;
  height:111px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:48px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u4043 {
  position:absolute;
  left:296px;
  top:367px;
  width:45px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u4045 {
  position:absolute;
  left:297px;
  top:515px;
  width:45px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4047 {
  position:absolute;
  left:368px;
  top:406px;
  width:229px;
  height:48px;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4049 {
  position:absolute;
  left:368px;
  top:511px;
  width:229px;
  height:48px;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
}
#u4051 {
  position:absolute;
  left:368px;
  top:355px;
  width:180px;
  height:41px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
